<div class="sidebar_widget wow fadeInUp"> 
    <div class="widget-title"><h2> {{settings.static_text_block_title }}</h2></div>
    <div class="widget-content">
    	{{ settings.static_text_block_text }}
    </div>
</div>  

